Makefile
libyelmox
unit_tests
fesm-utils
libs/lis*
coordinates
yelmo
FastIsostasy
rembo1
ice_data
isostasy_data
tests/plots
output
tmp
tests/.DS_Store
.DS_Store
.runme_config
check_sim.x
git_yelmo.txt
maps/*.nc
.vscode
